.carta{
    object-fit: cover;
    width: 100%;
    height: 200px;
}

.card {
    max-width: 300px;
    min-width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card-title {
    min-height: 120px;
}

.btn-primary {
    background-color: #AF7DD3;
    color: #270042;
    border: none;
}

.btn-primary:hover {
    background-color: #6510a1!important;
    color: white!important;
}