body {
    font-family: Arial, Helvetica, sans-serif;
}

#title-form {
    padding-top: 20px;
    font-size: 50px;
    text-align: center;
}

.imgcontainer {
    padding-top: 20px;
}

#scatola_login {
    border-radius: 5%;
    background-color: #ac73d4;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    margin-bottom: 10px;
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#login {
    background-color: #7324AB;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#collegamento {
    margin: 5%;
    color: #270042;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

ul>li {
    list-style-type: none;
}

ul {
    padding: 0px;
}

.btn-secondary {
    color: black!important;
    background-color: #d19360;
}

label.active {
    color: black!important;
    background-color: #ff7300!important;
}

@media screen and (max-width:768px) {
    #scatola_login {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
    #login {
        width: 100%;
    }
}

label[for=usname],
label[for=psw],
label[for=uname],
label[for=sname],
label[for=email],
label[for=indirizzo] {
    font-weight: bolder !important;
}