.card-img-top {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 8% !important;
}


p>a{
    color: #6510A1!important;
}

#avatar{
    max-width: 100px!important;
    max-height: 100px!important;
    border-radius: 50%!important;
    margin: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

.card{

}