.list-group-item list-group-item-action {
    margin-left: 45%;
    margin-top: 20px;
    margin-bottom: 10px;
}

.btn-primary {
    background-color: #AF7DD3;
    color: #270042;
    border: none;
}

button:hover {
    background-color: #6510a1!important;
    color: white!important;
}

.btn-primary:hover {
    background-color: #6510a1!important;
    color: white!important;
}

.vai{
    float:right;
}