body{
  background: #abbaab;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #ffffff, #ff7400);
  background: linear-gradient(to top, #ffffff, #ff7400);
}

h1{
  margin-top: 20%;
  font-family: 'Langar', cursive;
  font-size: 50px;
  color: #270042;
}

img{
  width: 100%;
}

.page-footer{
  background-color: #ac73d4;
}

.container > .col {
  background-color: #818181;
}

.top-footer{
  margin-bottom: -5px;

}

#hero {
  margin-left: 15%;
  margin-right: auto;
  width: 70%;
  transform: rotate(20deg);
  animation-name: rotateHero;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

@keyframes rotateHero {
  from {transform: rotate(20deg);}
  to {transform: rotate(-20deg);}
}



/* NAVBAR */


nav{
  background-color: #af7dd3;
}

button{
  background-color:#af7dd3;
  margin: 0 10px;
}

button:hover{
  background-color:#6510a1!important;
  color: white!important;
}

i {
  color: #270042;
}

#sidebarCollapse{
  width: max-content;
  border-radius: 20%!important;
  box-shadow: none!important;
  border: 0px!important;
  background-color:#6510a1;
}

li > a{
  color: #270042;
}

h2{
  color: #270042;
  font-family: 'Langar', cursive;
}

nav > div > div > img{
  width: 50px!important;
}

nav > div > div > h2{
  margin-top: 5px!important;
}

#prec{
  margin: 0 22%;
}

#succ{
  margin: 0 22%;
}

.icona{
  color: #270042;
}
